{% extends 'base.html' %}
{% load static %}

{% block title %}
Ärztehaus Bodensee - Abteilungen
{% endblock title %}

{% block main_content %}


       
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-5 col-5">
                        <h4 class="page-title">Abteilungen</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Abteilung</th>
                                        <th>Status</th>
                                        <th>Zeiten</th>
                                        <th>Pause</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Urologie</td>
										<td><span class="custom-badge status-green">Geöffnet</span></td>
                                        <td>08:00 - 14:00</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Psychatrie</td>
										<td><span class="custom-badge status-green">Geöffnet</span></td>
                                        <td>06:00 - 18:00</td>
                                        <td>13:00 - 14:00</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Anästhesie</td>
										<td><span class="custom-badge status-green">Geöffnet</span></td>
                                        <td>08:00 - 13:00</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Kardiologie</td>
										<td><span class="custom-badge status-green">Geöffnet</span></td>
                                        <td>08:00 - 12:00</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Heilpraktika</td>
										<td><span class="custom-badge status-green">Geöffnet</span></td>
                                        <td>08:00 - 13:00</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Radiologie</td>
										<td><span class="custom-badge status-red">Pause</span></td>
                                        <td>08:00 - 16:30</td>
                                        <td>12:00 - 12:45</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Innere Medizin</td>
										<td><span class="custom-badge status-green">Geöffnet</span></td>
                                        <td>06:00 - 20:00</td>
                                        <td>13:00 - 14:00</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>Allgemeinmedizin</td>
										<td><span class="custom-badge status-red">Pause</span></td>
                                        <td>08:00 - 17:00</td>
                                        <td>12:00 - 12:45</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>Augenheilkunde</td>
										<td><span class="custom-badge status-red">Pause</span></td>
                                        <td>08:00 - 15:30</td>
                                        <td>12:00 - 12:30</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>Notfallaufnahme</td>
										<td><span class="custom-badge status-green">Aktiv</span></td>
                                        <td>00:00 - 24:00</td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock main_content %}